<%- include ../layouts/header.ejs %>
<div class="wrapper">
<%- include ../layouts/sidebar.ejs %>	
<div class="content">
     <div class="container-fluid">
       <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        Your Information
                    </div>
                    <div class="panel-body">
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        Your Projects
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li>Project A</li>
                            <li>Project B</li>
                            <li>Project C</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        News
                    </div>
                    <div class="panel-body">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../layouts/footer.ejs %>
<script type="text/javascript">

$(document).ready(function(){
    $('ul li a').click(function(){
        $('li a').removeClass("active");
        $(this).addClass("active");
    });
});
 window.history.forward();

</script>