<%- include ../layouts/header.ejs %>
<div class="wrapper">
<%- include ../layouts/sidebar.ejs %>	
    
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">New Department</h4>
                    </div>
                    <div class="content">
                         <form action="newDepartment" method="post" id="dept_form" >
                             <input type="hidden" name="id" value="<%=data[0].id %>" />    
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Deaprtment Name</label>
                                          <input type="text" class="form-control tooltip-test" name="dept_name" id="dept_name" data-toggle="tooltip" title="The field is requird" maxlength="20">
                                    </div>
                                </div>
                            </div>
  
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Group Email</label>
                                        <input type="email" class="form-control tooltip-test" name="dept_email" id="dept_email" data-toggle="tooltip" title="The field is requird" maxlength="20" placeholder="">
                                    </div>
                                </div>
                            </div>

                             <div class="form-group form-group-sm">
                                <div class="text-center" >  
                                    <button type="submit" id="deptSubmit" class="btn btn-sm btn-success">Submit</button>
                                    <button type="reset" class="btn btn-sm btn-danger">Reset</button>
                                    <button type="button" class="btn btn-sm btn-warning pull-right" onclick="window.location.href='/department'">Go back</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ../layouts/footer.ejs %>
   
<script>
    
     $(function () { $("[data-toggle='tooltip']").tooltip(); });
        toastr.options.positionClass = 'toast-bottom-left';
    
   /* var deptName=document.getElementById("dept_name").value;
    var deptEmail=document.getElementById("dept_email").value;
    
    $('#deptSubmit').click(function(){
        if(deptName==''|| deptEmail==''){
            alert("Empty field!"); 
            return;
        }
    });*/
</script>
