
        <footer class="footer">
            <div class="container-fluid">
               
				<div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="#">Arica Chuang
                </div>
            </div>
        </footer>
    </div>
</div>


</body>

     <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/javascripts/bootstrap.min.js"></script>

     <!-- DATA TABLE SCRIPTS -->
    <script src="/javascripts/jquery.dataTables.js"></script>
    <script src="/javascripts/dataTables.bootstrap.js"></script>
    <script src="/javascripts/raphael-2.1.0.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="/javascripts/jquery.metisMenu.js"></script>
    
    <script src="/javascripts/paper-dashboard.js"></script>
	
</html>
